.horiz-menu a {
  color:white;
  text-decoration: none;
}
.is-current a:visited, .is-current a {
  background: skyblue;
  padding: 3px;
} 

.menu-surface {
  display: flex;
  justify-content: flex-end;
}
.horiz-menu {
display: flex;
}

.slideshow {
  z-index: -3;
}

.scroll-down {
  text-align: center;
  margin-top:500px;
}

.title {
  color:white;
  background: rgba(0, 0, 0, 0.5);
  display:inline-block;
  margin-top: 50px;
  margin-left:20px;
  padding: 5px;
} 

body, html {
  margin: 0;
}



@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
