.menu-surface {
  display: flex;
  justify-content: flex-end;
}
.horiz-menu {
 display: flex;
}

.slideshow {
  z-index: -3;
}

.scroll-down {
  text-align: center;
  margin-top:500px;
}

.title {
  color:white;
  background: rgba(0, 0, 0, 0.5);
  display:inline-block;
  padding: 2px;
} 

body, html {
  margin: 0;
}



@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
