@import url("https://fonts.googleapis.com/css2?family=Amaranth&family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&display=swap");

.awssld__wrapper {
  height: 80vh !important;
}
.awssld__timer {
  display: flex;
  align-self: flex-end;
}

.slideshow {
  z-index: -1;
}

.slideshow-overlay {
  background: rgb(64, 10, 111);
  background: linear-gradient(
    0deg,
    rgba(64, 10, 111, 0.8211659663865546) 0%,
    rgba(133, 64, 207, 0.4458158263305322) 23%,
    rgba(154, 93, 221, 0.15449929971988796) 46%,
    rgba(204, 162, 255, 0) 100%
  );
  position: absolute;
  z-index: 1;
  height: 82vh;
  width: 99.5vw;
  top: -13px;
  left: -11px;
  display: flex;
  justify-content: center;
}

.site-title {
  margin-top: 450px;
}
h1.site-heading {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Amaranth", sans-serif;
  font-size: 65px;
  margin-bottom: 0;
}
h2.subheading {
  z-index: 3;
  color: rgb(176, 232, 232);
  top: -18px;
  font-size: 41px;
  line-height: -28px;
  margin-top: 0;
  position: relative;
  left: 182px;
  font-style: italic;
  font-family: "Amaranth", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Amaranth", sans-serif !important;
}
/* 
@media only screen and (max-width: 711px) {
  .site-heading {
    font-size: 20px;
  }
  .subheading {
    font-size: 30px;
  }
} */

.item-links {
  display: block;
  text-align: right;
  margin-right: 30px;
  margin-top: -40px;
}

.date {
  font-size: 85%;
  text-align: right;
  font-style: italic;
}

.close-button {
  position: flex;
  width: 50px;
  align-self: flex-end;
  right: 1;
  top: 1;
}

.MuiDialogActions-root {
  justify-content: space-between !important;
}

#alert-dialog-title {
  margin-top: -50px;
}

.icon {
  margin-right: 2;
}

.cardGrid {
  padding-top: 8;
  padding-bottom: 8;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
}

.card-text {
  color: #1b1b1c;
}

.cardMedia {
  padding-top: 56.25%;
}

.cardContent {
  flex-grow: 1;
}

.horiz-menu a,
.horiz-menu a:visited {
  color: white;
  text-decoration: none;
}

.horiz-menu a:hover {
  text-decoration: underline;
}

.is-current a,
.is-current a:hover,
.is-current a:visited {
  background: skyblue;
  padding: 2px 7px;
}

.menu-surface {
  display: flex;
  justify-content: flex-end;
  height: 20px;
}
.horiz-menu {
  display: flex;
}

.scroll-down {
  text-align: center;
  padding: 1.5em;
  margin-top: 650px;
  color: white !important;
}

.scroll-down:hover {
  color: rgba(255, 255, 255, 0.5);
}

section {
  padding-top: 60px;
  padding-bottom: 20px;
}

.text-center {
  text-align: center;
}

.title {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin-top: 50px;
  margin-left: 20px;
  padding: 5px;
}

body,
html {
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
}

body {
  background: rgba(42, 8, 97, 0.8);
  color: white;
}

a,
a:visited {
  color: rgba(66, 145, 223, 1);
}

h3 {
  padding-bottom: 10px;
}

.insta {
  max-width: 98.8vw;
}

.insta-pic {
  height: 100%;
  width: 100%;
}

a:hover .insta-pic {
  opacity: 0.7;
}

.social-media > a {
  margin: 10px;
  text-decoration: none;
}

.social-media > a:hover {
  color: skyblue;
}

form {
  padding-bottom: 60px;
  width: 80%;
  margin: 6px 5px !important;
}
input,
textarea {
  margin: 5px;
  color: white;
}

.MuiOutlinedInput-root {
  color: white !important;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
